<footer>
    <a>
        <img src="../../assets/images/logo-white.svg" alt="">
    </a>
    <div>
        <h3>Features </h3>
        <p class="description">Link Shortening</p>
        <p class="description">Branded Links</p>
        <p class="description">Analytics</p>
    </div>

    <div>
        <h3>Resources </h3>
        <p class="description">Blog</p>
        <p class="description">Developers</p>
        <p class="description">Support</p>
    </div>

    <div>
        <h3>Company</h3>
        <p class="description">About</p>
        <p class="description">Our Team</p>
        <p class="description">Careers</p>
        <p class="description">Contact</p>
    </div>

    <div class="media">
        <img src="../../assets/images/icon-facebook.svg" alt="facebook-logo" srcset="">
        <img src="../../assets/images/icon-twitter.svg" alt="twitter-logo" srcset="">
        <img src="../../assets/images/icon-pinterest.svg" alt="pinterest-logo" srcset="">
        <img src="../../assets/images/icon-instagram.svg" alt="instagram-logo" srcset="">
    </div>

</footer>


