<main>
  <section class="getting-started">
    <div class="image-container">
        <img src="../../assets/images/illustration-working.svg" alt="working-lady-image" srcset="">
    </div>
    <div class="intro">
      <h1 class="heading">More than just shorter links</h1>
      <p class="description">
        Build your brand's recognition
        and get detailed insights on how your links are performing.
      </p>
      <button class="btn-primary btn-start"> Get Started</button>
    </div>
  </section>

  
  <section class="statistics">
      <div class="url-shortner">
        <input type="text" class="url" placeholder="Shorten a link here...">
        <button class="btn-primary btn-url">Shorten It!</button>
      </div>
  </section>
  <section class="boost"></section>
</main>